*{
    margin:0;
    border: 0;
}
.background{
    /* background-color:red; */
    height: 100vh
}

#bubbleButton{
    padding: 10px;
    margin: 10vh 45vw;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: rgb(229, 133, 7);
    color: rgb(255, 255, 255);
    border: 0;
}

#bubbleButton:hover{
    padding: 10px;
    margin: 10vh 45vw;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: rgb(198, 119, 15);
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}

#bubbleButton:active{
    padding: 10px;
    margin: 10vh 45vw;
   
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
}

body {  
    background: rgba(240, 248, 255, 0.9);  
    overflow: hidden;  
  }  
  
  .bubble {  
    position: absolute;  
    top: 0;  
    left: 0;  
    border-radius: 50%;  
    cursor: pointer;  
    transition: linear 2s, transform .2s;  
  }  
  
  .bubble:hover {  
    transform: scale(1.7);  
  }  
  
  .bubble--bust {  
    transform: scale(1.8);  
  }